*~
*.bak
*.log
*.zip

autom4te.cache/
aclocal.m4
configure
missing
ltmain.sh
install-sh
depcomp
*.in
*.sub
*.guess

.sconsign.dblite

lltxplatform.so
lualatex-platform.html

*.pdf
*.synctex.gz
*.aux

test-*.lst

build/
stage/
texmf-dist/
bin/
auto/
