*~
*.bak
*.log

autom4te.cache/
.libs/
.deps/
aclocal.m4
missing
libtool
ltmain.sh
stamp-h1
install-sh
depcomp
configure
Makefile
config.h
*.in
*.sub
*.guess
*.status

.sconsign.dblite

*.obj
*.o
*.os
*.lo

*.dll
*.lib
*.exp
*.so
*.la

*.pdf
*.synctex.gz
*.aux

auto/
